header{
    background-color: #333;
    color: white;
    text-align: center;
}

.weatherHeader{
    font-size: 50px;
}

#wrapper {
    border-style: solid;
  
    }

    .extendedForecast{
    border-style: solid;
    }
    .container{
        float: right;
      
    }
    .card
    {
        float: left;
    }

    .favorable {
        background-color: #77dd77;
        color: #333;
      }

      .severe {
        background-color: red;
        color: #333;
      }
      .moderate {
        background-color: yellow;
        color: #333;
      }